<!DOCTYPE html>
<html>
  <head>
    <title>-MyDiary</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bootstrap/css/amelia.bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap/css/amelia.bootstrap.css"/>
    
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/clean-blog.min.js"></script>
    <script src="/bootstrap/js/clean-blog.js"></script>
    <script src="/javascripts/jquery-3.4.1.js"></script>
  </head>

  <body>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/" style="font-size:30px;">Mini Blog</a>
                </div>
                
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <%if(user){%>
                        <li class="nav-item">
                            <a class="nav-link"  href="/post"><b>New Post
                            </b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout"><b>Log out
                            </b></a>
                        </li>
                        <li class="nav-item">
                            <p>Current user: <%=user.username%></p>
                        </li>
                        <%} else{%>
                        <li class="nav-item">
                            <a class="nav-link" href="/reg">Sign up
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Sign in
                            </a>
                        </li>
                        <li class="nav-item">
                            <p>Current user: visitor</p>
                        </li>
                        <%}%>
                    </ul>
                </div>
                
            </div>
        </nav>
    </div>


    <div class="container">
        <div class="col-sm-12">
    