<!DOCTYPE html>
<html>
  <head>
    <title>-MyDiary</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bootstrap/css/clean-blog.min.css"/>
    <link rel="stylesheet" href="/bootstrap/css/clean-blog.css"/>
    
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/clean-blog.min.js"></script>
    <script src="/bootstrap/js/clean-blog.js"></script>
    <script src="/javascripts/jquery-3.4.1.js"></script>
  </head>
 
  <body>
    <div class="container">
        <p>Logged out successfully!</p>
        <a class="nav-link" href="/"><span class="glyphicon glyphicon-log-in"></span>Go back to homepage
        </a>
    </div>
    </body>
</html>